<div id="arr">
  <div class="block">
    <div class="div-table">
      <div class="div-table-legend"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  alert('kek');
  var array=<%=@arr%>;
  document.addEventListener("DOMContentLoaded", function() {
    var a=document.getElementsByClassName('div-table-legend')[0];
    a.innerHTML='Нашлось '+array.length+' простых чисел Мерсена';
    var t=document.getElementsByClassName('div-table')[0];
    for (var i=0; i<array.length; i++)
    {
      var row=document.createElement('div');
      row.className='div-table-row';
      var col1=document.createElement('div');
      col1.className='div-table-col';
      var col2=document.createElement('div');
      col2.className='div-table-col';
      var iter=document.createTextNode((i+1).toString());
      var num=document.createTextNode((array[i]).toString());
      col1.appendChild(iter);
      col2.appendChild(num);
      row.appendChild(col1);
      row.appendChild(col2);
      t.appendChild(row);
    }
  });
</script>
